.seo-content {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.seo-content-wrapper {
    padding: 12px 30px;
    margin-right: 4px;
    display: inline-block;
}

p.center {
    text-align: center;
}


.seo-content .layer {
    width: 100%;
    background: #fafafa;
    position: absolute;
    z-index: -1;
}

.-hide {
    display: none;
}

@media screen and (max-width: 900px) {
    .seo-content,
    .how-to,
    .faq-content-wrapper {
        flex-direction: column;
    }

    .faq-content-wrapper {
        width: 90%;
        margin: 0;
    }

    .footer {
        margin: 0;
        width: inherit;
    }

    .dc-wrapper {
        top: 80px !important;
        margin: 10px;
        width: calc(100% - 20px) !important;
    }

    .how-to > div {
        padding: 0;
    }

    .question,
    .answer {
        width: 100%;
        max-width: 100%;
    }
}